#myslides {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
        margin: 0;
        padding: 0;
        overflow:hidden;
	overflow-y: hidden;         
	position: fixed;
}       
 
#myslides img {   
	display: inline;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;     
	overflow-y: hidden;
}

html {
	height:100%;
	width: 100%;
	font-family: Arial;
	overflow: hidden;
	overflow-y: hidden;
	min-height: 0;
}

#error {
	color:white; 
	font-size: 2em;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	display:table;
	height:100%;
	width: 100%;
}

